@page
@model _10379457_CLDV6211_POE.Pages.AboutUsModel
@{
}

<head>
    <title>About Us - KhumaloCraft Emporium</title>
</head>
<body>
    <header>
        <h1>Handcrafted Products:</h1>
        <p>We have a wide range of different woodwork available for you to purchase across the world. <br>We have many talented artisans that wish to bring you the finessed woodwork from around the world. </p>
    </header>
</body>