@page
@model _10379457_CLDV6211_POE.Pages.ContactUsModel
@{
}
<head>
    <title>Contact Us - KhumaloCraft Emporium</title>
</head>
<body>
    <header>
        <h1>Contact us at:</h1>
        <p>Phone number: 012 345 6789</p>
        <p>Email address:  khumalocraft@gmail.com</p>
    </header>
</body>
