@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to KhumaloCraft Emporium";
}
<! –– comments ––>
<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <p>Quality work made by people who care</p>
</div>
